
@import url('fonts-colors.css');

* {
    font-family: var(--font-montserrat);
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--gris-claro);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0 .5rem 0 0;
    gap: 2rem;

}

.citas-all {
    background-color: var(--white);
    padding: 1rem 1.5rem;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.show-citas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name_verificado_plus {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.quotes-veri {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.name-verificado {
    width: 345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .2rem;
}

.nombre-logo {
    font-weight: 500;
    font-size: .9rem;
}

.cita {
    font-weight: 300;
    font-size: .8rem;
    width: 95%;
}

.logo-img {
    width: 45px;
    border-radius: 50px;
}

.verificado-img {
    width: 18px;
}

.mas-img {
    width: 20px;
    cursor: pointer;
}

.botonGenerar {
    padding: .8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: var(--blue-claro);
    color: var(--white);
    font-size: .9rem;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.botonGenerar:hover {
    background-color: var(--blue-claro);
    opacity: .9;
}

.cita-input {
    border: none;
    outline: none;
    width: 90%;
}

.options-citas {
    background-color: var(--white);
    border-radius: 10px;
}




/* Options */

#code-options {
    display: none;
}

.options {
    background-color: var(--black);
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    gap: .4rem;

    margin: 1.4rem 0 0 18rem;

}

.items-functions {
    font-size: .9rem;
    /* text-decoration: none; */
    color: var(--white);
    transition: 1s;
    cursor: pointer;
}

.items-functions:hover {
    color: var(--blue-claro);
    transition: 1s;
}

  

@media (min-width: 450px) {
    .citas-all {
        width: 350px;
    }

    .cita {
        width: 80%;
    }

    .mas-img {
        margin: 0 3rem 0 0;
    }

    .options {
        margin: 1.4rem 0 0 15rem;
    }
}
